.content {
margin-left: 400px;
margin-top: 100px;
font-family: Verdana, Arial;
}
.cryptocompare_chart {
display: inline-block;
}
.main_form {
display: inline-block;
vertical-align: top;
font-family: Verdana;
font-size: 12px;
color: DarkSlateGray;
}
.header {
width: 600px;
clear: both;
font-family: Verdana, Arial;
font-size: 26px;
margin-bottom: 10px;
}
.header IMG {
vertical-align: middle;
}
.menu {
width: 600px;
clear: both;
font-family: Verdana, Arial;
font-size: 16px;
}
.currentInfo {
width: 284px;
margin-left: 2px;
margin-bottom: 5px;
padding: 6px;
font-family: Verdana, Arial;
font-size: 10px;
color: Black;
background-color: LightGreen;
}
.message {
display: table;
margin: 10px;
padding-left: 5px;
padding-right: 5px;
border: 1px solid #e7e7e7;
border-radius: 10px;
background-color: LightGreen;
animation-duration: 2s;
animation-timing-function: ease-out;
animation-delay: 0s;
animation-iteration-count: 1;
animation-name: message;
opacity: 0;
}
.form_text {
margin-top: 5px;
margin-bottom: 2px;
color: DarkSlateGray;
font-family: Verdana;
font-size: 12px;
}
.deleteButton {
font-family: Verdana, Arial;
font-size: 12px;
}
.deleteButton A {
color: Red;
}
@keyframes message {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
a {
text-decoration: none;
color: Black;
}
a:hover {
text-decoration: underline;
}
input[type=text] {
padding: 5px;
border: 2px solid LightSteelBlue;
color: DarkSlateGray;
font-family: Verdana;
font-size: 12px;
}
input[type=submit] {
padding: 5px;
border: 1px solid LightSteelBlue;
color: SlateGray;
font-family: Verdana;
font-size: 12px;
font-weight: bold;
}
input[type=text]:disabled {
color: SlateGray;
background-color: GhostWhite;
border: 1px solid LightSteelBlue;
}
input[type=submit]:disabled {
color: SlateGray;
background-color: GhostWhite;
border: 1px solid LightSteelBlue;
font-weight: normal;
}